---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#ddd"
  header:      "#111"
  link:        "#125AA7"
  link-hover:  "#000"
  blockquote:  "#666"
  box-bg:      "#eee"
  highlight:   "#B2CCFF"
  quiet:       "#666"
  alt:         "#666"
---

body {
  margin: 0;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

/* Headings
 * --------------------------------------------------------------------- */
#header, h1,h2,h3,h4,h5,h6 {
  font-family: "Georgia", "Times New Roman", serif;
  color: <%= @page.color['header'] %>;
}

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: <%= @page.color['link'] %>; }
a:hover           { color: <%= @page.color['link-hover'] %>; }
blockquote        { color: <%= @page.color['blockquote'] %>; }

a img { border: 0; }
dt { font-weight: normal; }
#license {
  font-family: "Georgia", "Times New Roman", serif;
  background: none;
  border: 0;
}

#legacy {
  font-size: 0.9em;
  background: #ffffcc;
  padding: 0;
  text-align: center;
  border-bottom: 1px #FFF5CC solid;
  margin-bottom: 1em;
}

#legacy p {
  padding: 4px;
  margin: 0;
}

pre {
  font-family: monospace;
  background: <%= @page.color['box-bg'] %>;
  padding: 1em;
  font-size: 1.1em;
}

em { background: none; }

hr {
  background: <%= @page.color['highlight'] %>;
  color:      <%= @page.color['highlight'] %>;
}

#menu {
  padding: 1em;
  height: 100%;
  font-size: 1.1em;
  font-family: "Georgia", "Times New Roman", serif;
}

#release { height: 20px; padding: 0 0 0 1em; background: #e6e6e6; }
#release * {
  line-height: 20px;
  vertical-align: middle;
}
#release dt {
  
  float: left;
  margin-right: 1em;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid <%= @page.color['border'] %>;
  border-left:    1px solid <%= @page.color['border'] %>;
}
th,td {
  border-bottom:  1px solid <%= @page.color['border'] %>;
  border-right:   1px solid <%= @page.color['border'] %>;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: <%= @page.color['quiet'] %>; }
.alt    { color: <%= @page.color['alt'] %>; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

/* EOF */
